<%- include ('partials/partials.ejs') %>
<div class="container-fluid">
  <div class="d-flex flex-column flex-sm-row w-75 justify-content-around">
        <select class="form-control col-lg-2 mt-5 ml-5" id="categories">
          <option value="">Toutes les catégories</option>
 <%for(c of cats){%>
  <option value="<%=c.id%>"><%=c.nom_categorie%></option>
  <%}%>
        </select>
  
        <div class=" col-lg-6 mt-5">
          <div class="form-group col-8 col-sm-9 col-lg-4">
            <label for="prixmin">Prix min.</label>
            <input class="form-control" type="text" placeholder="Prix minimum" id="prixmin">
          </div>
          <div class="form-group col-8 col-sm-9 col-lg-4">
            <label for="prixmax">Prix max.</label>
            <input class="form-control" type="text" placeholder="Prix maximum" id="prixmax">
          </div>
      
              </div>
      </div>
  
  
        
      <input type="text" value="<%=user.id%>" id="userid" hidden>
  
        <nav aria-label="...">
          <ul class="pagination pagination-lg mt-5 ml-5" id="pages">
            <%for(i=0;i<=total;){%>
              <li class="page-item"><a class="page-link"  href="/<%=i+=1%>" style="color:#212529;"><%=i%></a></li>
              <%}%>
          
          </ul>
        </nav>
       Total <%= total%>
        <div class="d-flex flex-column mt-5" id="produits">
          <div class="msg m-auto" style="margin-bottom:2vh !important"></div>
          <div class="d-flex flex-row flex-wrap " id="liste">
       <%   for(p of product){ %>
          <div class="card shadow" style="width: 18rem;margin-right: 10px;">
        <div class="d-flex flex-row flex-wrap ">  <h5 class="card-title m-auto"><%=p.nom_produit%> </h5>
            <span class="badge badge-info" style="line-height: 14px;height: 22px;"><%=p.nom_categorie%></span> </div>  
            <img class="card-img-top img-fluid" src="http://placehold.it/100x100" alt="">
            <div class="card-body">
              
              <p class="card-text"><%=p.description%></p>
              <div class="d-flex justify-content-between"><p><%=p.prix_unitaire%> €</p>
                <a type="button" href="/produits/<%=p.id%>" class="btn" style="background-color:#796a5a;"><i class="fas fa-search text-white"></i></a>
              <button onclick="addpanier('<%=p.id%>')" type="button" data-id="<%=p.id%>" data-prix="<%=p.prix_unitaire%>" class="btn" style="background-color:#796a5a;"><i class="fas fa-cart-plus text-white"></i></button></div>
            </div>
            
        </div>
        <%}%>
        </div> <nav aria-label="...">
        <ul class="pagination pagination-lg mt-5 ml-5" id="pages">
          <%for(i=1;i<=Math.ceil(total/10);i++){%>
            <li class="page-item"><a class="page-link"  href="/<%=i%>" style="color:#212529;"><%=i%></a></li>
            <%}%>
        
        </ul>
      </nav>
        <div class="msg m-auto" style="margin-bottom:2vh !important"></div>
      </div>
     
      </div>
<style>
#liste div{
  margin:10px 10px;
}
/* 
@keyframes magie {
    0% {
        opacity:0;
      
    }

    15% {
        opacity:75;
       
       
    }

    25% {
        opacity:100;
     
       
    }

    
    35% {
        opacity:100;
       
        
    }



    50% {
        opacity:90;
        
    }

    75% {
        opacity:50;
        
    }

    100% {
         opacity:0;
         
    }
}


#validationpanier {
  animation-fill-mode: forwards;
  animation: magie 4s ease 0s 1 normal forwards;
} */

</style>

<%- include ('partials/script.ejs') %>
<script>
    function remove(){
        item=event.target.dataset.id;
        $.ajax({
    url: '/produits/'+item,
    type: 'DELETE',
    success: function(result) {
        
        // Do something with the result
    }
});
    }

    function addpanier(id){
  
var  data={};
data["produitid"]=id;
data["userid"]=$("#userid").val();
data["quantite"]=1;
data["prix"]=this.event.target.parentNode.dataset.prix;
$.ajax({
  url:"/panier",type:"post",data:data,success:(data)=>{
    if(data.msg=="ok"){
 
$(".msg").show(100,"swing");
$(".msg").html('<button type="button" id="validationpanier" class="btn btn-success">l\'article a bien été ajouté au panier</button>');
$(".msg").delay(2250).hide(50,"swing");

  }
else{
  $("#msg").html("Aucun produit en stock");
}
  
}
})
    }

$("#categories").on("change",()=>{
  data={}
  data["cat_id"]=$("#categories").val();
  data["prixmin"]=$("#prixmin").val();
  data["prixmax"]=$("#prixmax").val();
  $.ajax({
    url:"/",
    type:"post",
    data:data,
    success:(datas)=>{
 
 
      drawproduits(datas)
    }
  })
})

$("input:text").on("input",()=>{
  data={}
  data["cat_id"]=$("#categories").val();
  data["prixmin"]=$("#prixmin").val();
  data["prixmax"]=$("#prixmax").val();
  $.ajax({
    url:"/",
    type:"post",
    data:data,
    success:(datas)=>{

      drawproduits(datas)
   
    }
  })
})
function drawproduits(datas){
  $("#liste").html("")
for(data of datas){ pro=" <div class='card shadow' style='width: 18rem;margin-right: 10px;'>"+
        "  <h5 class='card-title m-auto'>"+data.nom_produit+"</h5>"+
          
        "  <img class='card-img-top img-fluid' src='http://placehold.it/100x100' >"+
        "  <div class='card-body'>"+
            
          "  <p class='card-text'>"+data.description+"</p>"+
           " <div class='d-flex justify-content-between'><p>"+data.prix_unitaire+" €</p>"+
             " <a type='button' href='/produits/'"+data.id+" class='btn' style='background-color:#796a5a;'><i class='fas fa-search text-white'></i></a>"+
           " <a type='button' class='btn' style='background-color:#796a5a;'><i class='fas fa-cart-plus text-white'></i></a></div>"+
        "  </div>"+
          
     " </div>"
     $("#liste").append(pro)
           }
           console.log(datas.length)
           var pages=Math.ceil(datas.length/12)
           $("#pages").html("");
        for(i=1;i<=pages;i++){
             var page=' <li class="page-item"><a class="page-link"  href="/<%=i%>" style="color:#212529;">'+i+'</a></li>'
            $("#pages").append(page);
            }
}
</script>
