<% include('partials/partials') %>

  <input type="text" value="<%=produit.id%>" hidden id="produitId"/>
    <div class="form-group">
        <label for="nomProduit">Nom produit</label>
        <input type="text" class="form-control" value="<%=produit.nom_produit%>"name="nomproduit" id="nomProduit" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="designation">Categorie</label>
        <select name="categorie" id="categorie" >
            <%for(c of cat){%>
<option value="<%=c.id%>" <%if(produit.categorie_id==c.id){%> selected<%} %></option><%=c.nom_categorie%></option>
                <%}%>
        </select>
      </div>

      <div class="form-group">
        <label for="designation">Designation</label>
        <input type="text" class="form-control" value="<%=produit.designation%>" name="designation" id="designation" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" class="form-control" name="image" value="<%=produit.image%>" id="image" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="designation">Prix</label>
        <input type="number" class="form-control" name="prix" value="<%=produit.prix_unitaire%>" id="prix" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" class="form-control" name="stock" value="<%=produit.stock%>" id="stock" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <button onclick="update()" class="btn btn-primary">Ajout</button>

<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script>
function update(){
    produit=$("#produitId").val();
  var data={};
  data["nom"]=$("#nomProduit").val()
    data["designation"]=$("#designation").val()
    data["prix"]=$("#prix").val()
    data["stock"]=$("#stock").val()
    data["image"]=$("#image").val()
    data["categorie_id"]=$("#categorie").val()

$.ajax({
    url:"/produits/"+produit,
    type:"put",
    headers: {"X-HTTP-Method-Override": "PUT"},
    data:data,
    success:function(){
      window.location ="/"
    },
    error:function(err){
console.log(err)
    }
})



}
</script>
